<h1>비밀번호 찾기</h1>
<form action="/user/forgot" method="post">
    <%= hidden_field_tag(request_forgery_protection_token.to_s, form_authenticity_token) %>
    <p>
        <label for="email">가입하신 이메일</label>
        <input name="email" type="text">
    </p>
    <button type="submit">확인</button>
</form>