<h1>비밀번호 변경</h1>
<form action="/user/forgot_confirm" method="post">
    <%= hidden_field_tag(request_forgery_protection_token.to_s, form_authenticity_token) %>
    <input type="hidden" name="code" value="<%=@verification.code%>">
    <p>
        <label for="password">새 비밀번호</label>
        <input name="password" type="password">
    </p>
    <button type="submit">확인</button>
</form>