<h1>로그인</h1>
<form action="/user/login" method="post">
    <%= hidden_field_tag(request_forgery_protection_token.to_s, form_authenticity_token) %>
    <p>
        <label for="account">계정</label>
        <input name="account" type="text">
    </p>
    <p>
        <label for="password">비밀번호</label>
        <input name="password" type="password">
    </p>
    <button type="submit">로그인</button>
    <a href="/user/forgot_form">비밀번호 찾기</a>
</form>